<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">AMD Reports</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
          This week
        </button>
      </div>
    </div>

    <div class="row" >
      <div class="col-sm">
          <h3>Reports</h3>
          <table class="table-sm table-bordered table-hover ">
              <thead  class="table-info text-center">
                <tr>
                   
                  <th scope="col">id</th>
                  <th scope="col">unqueid</th>
                  <th scope="col">calldate</th>
                  <th scope="col">AMD Status</th>
                  <th scope="col">AMD Cause</th>
                  
                  
              </tr>
              </thead>
              <tbody>
                  
                  {foreach $reports as $report}
                      <tr>
                          
                          <td>{$report.id} </td>
                          <td>{$report.uniqueid}</td>
                          <td>{$report.calldate}</td>
                          <td>{$report.amdstatus} </td>
                          <td>{$report.amdcause} {$report.amdcause_ext}</td>
                          <!--(r:{$calls.{$report.id}.client_rateid} o:{$calls.{$report.id}.client_optionid})-->
                      </tr>
                      
                  {foreachelse}
                      <tr><td colspan="6" class="text-center"> No reports </td></tr>
                  {/foreach}
              </tbody>        
          </table>
      </div>   
      </div>
      
  
  </main>
  

